.panel button{
  background-color: #3b50db;
  font-size:30px;
  width: 300px;
}


.title {
	margin-left: 0;
	background-color: #333;
	overflow: hidden;
	position: relative;
	top: 0;
	width: 100%;
	height: 100px;
}

#title{
	text-align:center;
	width:100%;
	display: inline-block;
	color: white;
	padding: 14px 15px;
	text-decoration: none;
	font-size:70px;
	position: relative;
}

#select{
	text-align:right;
	vertical-align: middle;
	display: inline-block;
	color: black;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 30px;
}

#cancelDelete{
	text-align:left;
	vertical-align: middle;
	display: none;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 30px;
}

.title img{
	max-width: 100%;
	max-height: 100%;
	float: right;
	vertical-align: middle;
}

.coupon {
	float:left;
	display: block;
	border-radius: 25px;
	position: relative;
	text-align: left;
	padding: 10px 10px;
	text-decoration: none;
	font-size: 40px;
	top: 8%;
	width: 95%;
    border: 25px #c9ddf1;
    background-color: orange;
	margin: 25px;
    box-sizing: border-box;
}

.coupon a {
	text-align:center;
	position: absolute;
}

#cancel {
	width:25%;
	background-color:gray;
}

div {
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    display: flex;
    justify-content: space-around;
}

body {
	background-color: white;
	overflow-y: scroll;
}

/*********** sort and tags buttons ****************/

  span {
    flex-grow: 1;
    text-align: left;
    display: inline-block;
    vertical-align: bottom;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  i {
    align-self:center;
    right: -6px;
    position: relative;
  }


.dropdown-menu {
  background-color: white;
  font-size:30px;
  width: 300px;

  .sort-item {
    display: flex;

    .item-left{
      align-self:center;
    }

   .item-center{
     padding-right:15px;
      flex-grow: 1;
    }

    .item-right {
      align-self:center;
    }
  }
}

.btn-default {
      border-color: rgb(46, 109, 164);
}

/************* search ********************/

.wrap{
  width: 90%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 35px;
  padding: 12px 20px 12px 60px;
  border: 1px solid #ddd;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

/**********************************/

.expired .coupon.modalClickable {
  background-color: lightgray;
  color: black;
}

.EXPIRED .coupon.modalClickable {
  background-color: gray;

}

.checks {
    display: none;
    float:right;
  /* https://stackoverflow.com/questions/306924/checkbox-size-in-html-css */
  /* Double-sized Checkboxes */
  -ms-transform: scale(4); /* IE */
  -moz-transform: scale(4); /* FF */
  -webkit-transform: scale(4); /* Safari and Chrome */
  -o-transform: scale(4); /* Opera */
  padding: 10px;
}