body{
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
    background: skyblue;
}

.container {
	height: 100%;
    width: 100%;
    position: absolute;
	top: 250px;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	
}

.container h1{
	font-size: 100px;
	font-weight: 200;
}

form {
	padding: 20px 0;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin-top: -200px;
	overflow: hidden;
	height: 100%;
	margin: 0px auto;
	overflow: hidden;
	z-index: 2;
	font-size: 40px;
}

.form input {
	display: block;
	appearance: none;
	outline: 0;
	border: 1px solid fade(white, 40%);
	background-color: fade(white, 20%);
	width: 300px;
	
	border-radius: 3px;
	padding: 10px 15px;
	margin: 0 auto 10px auto;
	display: block;
	text-align: center;
	font-size: 25px;
	font-weight: 300;
	font-style: italic;
}

button{
	appearance: none;
	outline: 0;
	background-color: white;
	border: 0;
	padding: 10px 15px;
	border-radius: 3px;
	width: 250px;
	cursor: pointer;
	font-size: 18px;
}